@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way Test<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
    <button class="button3 mdc-button mdc-button--raised">
        <i class="material-icons mdc-button__icon" aria-hidden="true">sync</i>
        Raised
    </button>
</address>
<script>
    const button = document.querySelector('.button3');
    mdc.ripple.MDCRipple.attachTo(button);
</script>
<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
