
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<ProcessingApp.Models.PropertyModel>

@{
    ViewData["Title"] = "Index";
}
<h2>List of Properties</h2>


@if (SignInManager.IsSignedIn(User))
{
    <p class="create-new-button">
        <a class="btn btn-primary" asp-action="Create">Add New</a>
    </p>
}
<div class="row">
    @foreach (var item in Model)
    {
        await Html.RenderPartialAsync("PropertyView", item);
    }
</div>